@import '../../../../../assets/scss/utils/variables';
.activation {
    font-family: 'STC-BOLD';
    background-color: $darkpurple;
    border-inline-start:5px solid $coral ;
    padding-top: 6px;
    padding-bottom: 6px;
}
