<div class="purple-bg ">
    <ul>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-7  " [routerLinkActive]="'activation '"><a class="white" [routerLink]="'home'" >{{"sidebar.home"|translate}}</a></li>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-5 " [routerLinkActive]="'activation'" ><a class="white" >{{"sidebar.discover"|translate}}</a></li>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-5 " [routerLinkActive]="'activation'"><a class="white" >{{"sidebar.community"|translate}}</a></li>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-5 " [routerLinkActive]="'activation'"><a class="white"  >{{"sidebar.products"|translate}}</a></li>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-5 " [routerLinkActive]="'activation'"><a class="white" >{{"sidebar.feedback"|translate}}</a></li>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-5 " [routerLinkActive]="'activation'"><a class="white"  >{{"sidebar.faq"|translate}}</a></li>
        <li class="px-5 cursor-pointer STC-REGULAR text-base mt-5 " [routerLinkActive]="'activation'"><a class="white" [routerLink]="'leaderboard'" >{{"sidebar.leaderboard"|translate}}</a></li>
    </ul>
</div>
