<div>
    <div class="images text-center w-full">
        <img src="/assets/images/whoops.gif" width="500"  height="500" alt="backgroundimg"/>
    </div>
    <div class="content text-center">
        <p class="STC-MEDIUM coral text-6xl">{{"auth.Notinterested.header" |translate}}</p>
            <p class="STC-MEDIUM coral text-6xl">{{"auth.Notinterested.expire" |translate}} </p>
            <p class="STC-REGULAR manatee mt-4 mb-7 text-5xl">{{"auth.Notinterested.ExpireInvitation" |translate}}</p>
    </div>
</div>