<div class="flex gap-6" *ngIf="followedTopics && followedTopics.length > 0">
    <div class="w-9">
      <stc-highlighted-topics [followedTopics]="followedTopics[0]"></stc-highlighted-topics>
      <div *ngFor="let answerGroup of answersByTopic ; let lastanswer = last" [ngClass]="{'border-bottom-2':!lastanswer}">
        <stc-question-details
          *ngFor="let answer of answerGroup; let answerIndex = index "
          [answer]="answerIndex === 1"
          [answerstopic]="answer">
        </stc-question-details>
      </div>
    </div>
    <div class="w-4 Isabelline-bg">
        <div class="px-3 py-5">
            <p class="STC-BOLD text-2xl mb-5" >{{"home.videos"|translate}}</p>
            <div *ngFor="let answerGroup of followedTopics ;let i = index">
                <div class="img ">
                    <img class="w-full" [src]="answerGroup.urlToImage ? answerGroup.urlToImage : '/assets/images/imagefaisal.jpg'" alt="img"/>
                 </div>
                 <div >
                    <p class="STC-BOLD black  mt-3 mb-5  pb-3 text-base" [ngClass]="{'border-bottom-2 ': i!== followedTopics.length -1}">
                        {{answerGroup.title ? answerGroup.title :"Is it possible to demand a verification that the level of radiation emanating from a telecommunications tower complies with the regulations approved by CITC?"}}
                    </p>
                 </div>
            </div>
        </div>
    </div>
  </div>
  