
    <section class="header-img  flex justify-center items-center overflow-hidden bg-cover bg-center ">
        <div class="md:w-11 overflow-hidden  md:mx-auto sm:w-full ">
           <div class="grid overflow-hidden justify-content-between   grid-nogutter">
            <div class="col-12 md:col-7">
                <div class="card bg-white border-1 md:my-4   pt-8 px-6">
                    <div class="flex  align-items-center gap-3">
                        
                        <div class="img align-self-end">
                            <img class="border-radius object-cover" src="/assets/images/userimage.png" style="width:60px ; height: 60px;" alt="software-engineer-portfolio"/>
                        </div>
                        <div class="card-content ">
                            
                            <h2 class="invited-header text-3xl STC-BOLD mb-3"> {{"auth.invite"| translate}}</h2>
                            <p class="name purple STC-BOLD mb-2">{{"auth.name"| translate}}</p>
                            <p class="position STC-REGULAR text-xs  manatee">{{"auth.position"| translate}}</p>
                            <p class="inline-flex coral STC-MEDIUM  align-items-center gap-0 m-0 p-0">{{"auth.profile"| translate}} <svg *ngIf="TranslateService.currentLang !== 'ar'" class="mt-2 -mx-1" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path  d="M14.8297 7.28995L10.5897 3.04995C10.4967 2.95622 10.3861 2.88183 10.2643 2.83106C10.1424 2.78029 10.0117 2.75415 9.8797 2.75415C9.74769 2.75415 9.61698 2.78029 9.49512 2.83106C9.37326 2.88183 9.26266 2.95622 9.1697 3.04995C8.98345 3.23731 8.87891 3.49076 8.87891 3.75495C8.87891 4.01913 8.98345 4.27259 9.1697 4.45995L12.7097 7.99995L9.1697 11.5399C8.98345 11.7273 8.87891 11.9808 8.87891 12.2449C8.87891 12.5091 8.98345 12.7626 9.1697 12.9499C9.26314 13.0426 9.37395 13.116 9.49579 13.1657C9.61763 13.2155 9.74809 13.2407 9.8797 13.2399C10.0113 13.2407 10.1418 13.2155 10.2636 13.1657C10.3854 13.116 10.4963 13.0426 10.5897 12.9499L14.8297 8.70995C14.9234 8.61699 14.9978 8.50638 15.0486 8.38453C15.0994 8.26267 15.1255 8.13196 15.1255 7.99995C15.1255 7.86794 15.0994 7.73723 15.0486 7.61537C14.9978 7.49351 14.9234 7.38291 14.8297 7.28995Z" fill="#FF375E"/>
                                </svg>
                                <svg *ngIf="TranslateService.currentLang === 'ar'" class="mt-2 -mx-1" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.1703 7.29005L13.4103 3.05005C13.5033 2.95632 13.6139 2.88193 13.7357 2.83116C13.8576 2.78039 13.9883 2.75425 14.1203 2.75425C14.2523 2.75425 14.383 2.78039 14.5049 2.83116C14.6267 2.88193 14.7373 2.95632 14.8303 3.05005C15.0166 3.23741 15.1211 3.49087 15.1211 3.75505C15.1211 4.01923 15.0166 4.27269 14.8303 4.46005L11.2903 8.00005L14.8303 11.5401C15.0166 11.7274 15.1211 11.9809 15.1211 12.2451C15.1211 12.5093 15.0166 12.7627 14.8303 12.9501C14.7369 13.0428 14.626 13.1162 14.5042 13.166C14.3824 13.2158 14.252 13.2409 14.1203 13.2401C13.9887 13.2409 13.8582 13.2158 13.7364 13.166C13.6146 13.1162 13.5037 13.0428 13.4103 12.9501L9.1703 8.71005C9.07662 8.61709 9.00222 8.50648 8.95145 8.38463C8.90068 8.26277 8.87455 8.13206 8.87455 8.00005C8.87455 7.86804 8.90068 7.73733 8.95145 7.61547C9.00222 7.49361 9.07662 7.38301 9.1703 7.29005Z" fill="#FF375E"/>
                                  </svg>
                                </p>
                        </div>
                    </div>
                    <div class="btn  flex justify-content-end">
                        <button  (click)="ShowNotInteresting()" class="border-transparent cursor-pointer bg-transparent">
                            <a  class="black STC-REGULAR  text-lg ml-4">{{"auth.Interested"| translate}}</a>
                        </button>
                        
                        <button (click)="showDialog()" class=" coral-bg  ml-4 border-transparent border-round-md cursor-pointer  py-2 px-3">
                            <a   class="white text-base STC-MEDIUM">{{"auth.Invitation"| translate}}</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12   md:col-5 " [ngClass]="
            {'md:pr-6':TranslateService.currentLang === 'ar'  , 'md:pl-6': TranslateService.currentLang !== 'ar' }" >
               <div class="img ">
                <img class="w-full border-img" src="/assets/images/InvitationImg.png" alt="image"/>
               </div>
            </div>
           </div>
               
           <p-dialog class="custom-dialog" [modal]="true" [(visible)]="visible" [style]="{ width: '50vw' }" 
           [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false">
         
           <div class="px-5">
             <span class="block STC-BOLD text-4xl black block mb-5">{{"auth.otp.OtpEnter" | translate}}</span>
             <span class="block STC-REGULAR text-base manatee block">{{"auth.otp.OtpEmail" | translate}}</span>
             <span class="block STC-BOLD black manatee mb-6">{{"auth.otp.OtpEmailName" | translate}}</span>
         
            
             <form [formGroup]="otpForm" class="otp-container w-full ">
               <p-inputOtp  formControlName="otp" class="flex justify-content-evenly">
                 <ng-template  pTemplate="input" let-token let-events="events">
                   <input 
                   formControlName="otp"
                     pInputText
                     class="custom-otp-input text-center" 
                     (input)="events.input($event)" 
                     (keydown)="events.keydown($event)" 
                     type="text" 
                     [attr.value]="token" 
                     [maxLength]="1" />
                 </ng-template>
               </p-inputOtp>
               <div *ngIf="otpControl?.invalid && otpControl?.touched" class="error-message mt-3">
                <span  class="block" *ngIf="otpControl?.errors?.['required']">{{"auth.otp.OtpRequire" | translate}}</span>
                <span class="block" *ngIf="otpControl?.errors?.['pattern']">{{"auth.otp.OtpNumbres" | translate}}</span>
                <span class="block" *ngIf="otpControl?.errors?.['minlength'] || otpControl?.errors?.['maxlength']">
                    {{"auth.otp.OtpDigits" | translate}}
                </span>
              </div>
              <span class="block STC-BOLD coral text-sm mb-7 cursor-pointer mt-6">{{"auth.otp.OtpResend" | translate}}</span>
             
             <div class="mb-6">
               <button 
                 (click)="showAnotherDialog()" 
                 [disabled]="otpForm.invalid" 
                 [ngClass]="{'opacity-50' : otpForm.invalid}"
                 class="coral-bg w-full border-transparent border-round-md cursor-pointer py-2">
                 <a class="white text-xs STC-BOLD">{{"auth.otp.OtpVerify" | translate}}</a>
               </button>
             </div>
              
             </form>
           
            
             
           </div>
         </p-dialog>



         <p-dialog class="custom-dialog" [modal]="true" [(visible)]="NotInterested" [style]="{ width: '62vw' }" 
         [breakpoints]="{ '1199px': '80vw', '575px': '90vw' }" [draggable]="false" [resizable]="false">
       
         <div class="px-8">
           <span class="block STC-BOLD text-4xl black block mb-5">{{"auth.Notinterested.confirm" | translate}}</span>
           <span class="block STC-REGULAR text-base manatee block">{{"auth.Notinterested.reject" | translate}}</span>
           <span class="block STC-REGULAR text-bas manatee mb-4">{{"auth.Notinterested.exit" | translate}}</span>

           <div class="card flex justify-content-center mb-7">
            <textarea class="border-round " rows="10" cols="20" class="w-full" pInputTextarea [autoResize]="false"></textarea>
        </div>
          
        <div class="flex justify-content-end">
          <button [routerLink]="'notinterested'" (click)="onNotInterested()"  class=" coral-bg mb-7  border-transparent  cursor-pointer  py-2 px-4">
            <a  class="white text-base STC-MEDIUM">{{"auth.Notinterested.confirm"|translate}}</a>
        </button>
        </div>
         </div>
       </p-dialog>
<p-dialog 
    class="border-round-2xl" 
    [modal]="true" 
    [(visible)]="anotherDialogVisible" 
    [style]="{ width: '50vw' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [draggable]="false" 
    [resizable]="false">
    
    
    <div class="px-5">
        <span class="block STC-BOLD text-4xl black block mb-3">{{"auth.otp.Services.header" | translate}}</span>
        <span class="block STC-REGULAR text-base manatee mb-4 block">{{"auth.otp.Services.content" | translate}}</span>
        <div class="card flex justify-content-start">
            <div class="flex flex-column ">
                <div  class="field-checkbox STC-MEDIUM text-base black mb-4">
                    <p-checkbox 
                        [(ngModel)]="selectedCategories"
                        label="{{'auth.otp.Services.categories.Fixed Lines' | translate}}"
                        name="group"
                        value="{{'auth.otp.Services.categories.Fixed Lines' | translate}}"  class="gap-3 STC-BOLD" />
                      </div>
                        <div class="mb-4  STC-MEDIUM text-base black">
                          
                    <p-checkbox  
                    [(ngModel)]="selectedCategories"
                    label="{{'auth.otp.Services.categories.Mobile Lines' | translate}}"
                    name="group"
                    value="{{'auth.otp.Services.categories.Mobile Lines' | translate}}"  class="gap-3 STC-BOLD" />
                        </div>
                    
                   <div class="mb-4  STC-MEDIUM text-base black">
                    <p-checkbox 
                    [(ngModel)]="selectedCategories"
                    label="{{'auth.otp.Services.categories.ADSL Data' | translate}}"
                    name="group"
                    value="{{'auth.otp.Services.categories.ADSL Data' | translate}}"  class="gap-3 STC-BOLD" />
                   </div>
                    <div class="mb-6  STC-MEDIUM text-base black">
                      
                    <p-checkbox 
                    [(ngModel)]="selectedCategories"
                    label="{{'auth.otp.Services.categories.Devices' | translate}}"
                    name="group"
                    value="{{'auth.otp.Services.categories.Devices' | translate}}"  class="gap-3 STC-BOLD" />
                    
                    </div>
            </div>
        </div>
      
      
       
        <div class="mb-5">
            <div>
                <button 
                (click)="anotherDialogVisible = false"  
                class="coral-bg w-full border-transparent border-round-md cursor-pointer py-2" [routerLink]="'AcceptTerms'">
                <a  class="white text-xs STC-BOLD" >{{"auth.otp.Services.Accept" | translate}}</a>
              </button>
            </div>
        </div>
        <div>
          <p class="text-center STC-MEDIUM text-lg black mb-5 underline">{{"auth.otp.Services.Skip"|translate}}</p>
        </div>
      </div>
   
</p-dialog>
 

        </div>


     </section>

