$colors-map:(
"black":$black,
"coral":$coral,
"white":$white,
"manatee":$manatee,
"purple":$purple,
"Isabelline":$Isabelline


);

@each $name , $hex-value in $colors-map {
    .#{$name} {
        color:$hex-value;
    }
    .#{$name}-bg{
        background-color: $hex-value;
    }
}