@font-face {
    font-family: 'STC-BOLD';
    src: url('../../fonts/STC Forward Bold.woff') format('woff');
}
@font-face {
    font-family: 'STC-MEDIUM';
    src: url('../../fonts/STC Forward Medium.woff') format('woff')
}
@font-face {
    font-family: 'STC-REGULAR';
    src: url('../../fonts/STC Forward Regular.woff') format('woff')
}
@font-face {
    font-family: 'STC-PRO';
    src: url('../../fonts/SF-Pro-Display-LightItalic.woff') format('woff')
    
}