$black:#000000;
$coral:#FF375E;
$white:#FFFFFF;
$manatee:#8e9aa0;
$purple:#4F008C;
$Isabelline:#F3F3F1;
$border-color:#E8E8E8;
$otp-background:#D8D8D833;
$border-otp:#00C48C;
$darkpurple:#420374;
$shadow-table:#1D252D4D;
$border-table:rgb(142, 154, 160 , 0.2)  ;// iam using rgb cause it suppose to oppacity the border of table
$sunsetlight:#FF6A39;
$black-100:#1D252D